.pane, .pane-one-third {
  padding: 10px;
}

.pane-one-third {
  position: relative;
}

.btn-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn-large {
  padding: 10px 22px;
  margin: 6px;
  font-size: 18px;
}

.btn:disabled {
  opacity: 0.5;
}

#loader {
  display: none;
  margin: 5px auto;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-message, .server-status {
  display: none;
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

button {
  cursor: pointer!important;
}

button:disabled {
  cursor: not-allowed!important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.server-img {
  position: absolute;
  bottom: 20px;
  width: 100%;
}